# Supabase
# Usar: copiar para .env e preencher. Vite carrega automaticamente.
VITE_SUPABASE_URL=https://wzagtxphfpkydqrcxkfg.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind6YWd0eHBoZnBreWRxcmN4a2ZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMyNDYwMjEsImV4cCI6MjA5ODgyMjAyMX0.RnKFGs9BcQkanFEJVCZn_BnbVjjZaX2s-HVqaV0Y7uU
